{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>HOME</title>
	<script src="https://kit.fontawesome.com/4d3ebe1415.js" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@200&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/Main_css.css' %}">
	<link rel="shortcut icon" href="#">
</head>
<body>
    <div class ="Smb">
    	<ul id="Nb">
    		<li style="float: left;"><img src="{% static 'images/Logo.png' %}" width="75em" height="75em" style="display: inline; padding: 0.35em;"></li></li>
    		<li><a href="{% url 'Home' %}"><i class="fa-solid fa-house"></i>  HOME</a></li> 
    		<li><a class="active" href="{% url 'Abtus' %}"><i class="fa-solid fa-circle-info"></i>  ABOUT US</a></li>
    		<li><a href="{% url 'Hist' %}"><i class="fa-solid fa-landmark"></i>  HISTROY</a></li>
	</ul>
    </div>
    <div class="Abus">
    	<p id="Vs"><i class="fa-solid fa-eye"></i> VISSION OF MEDICO:</p>
    	<p id="Vs1">To eradicate the inability to acquire quality MEDICATIO.</p>
    	<p id="Ms"><br><i class="fa-solid fa-note"></i> MISSION OF MEDICO:</p>
    	<p id="Ms1">Collect funds and eradicate the inability to acquire quality MEDICATIO.</p>
    	<p id="Wd"><br><i class="fa-solid fa-pen"></i> WHAT MEDICO DO?</p>
    	<p id="Wd1">We collect funds from people directly and by conducting events. We get help registration from needy people by our website as well as by going to camps to various places. We directly verify their problems and support them to acquire quality medication.</p>
    </div>
</div>
</body>
</html>